body {
    font-family: sans-serif;
}

/* using group selector for more compact code */
h2, h3 {
    color: #00a2c6;
}
/* 
h3 {
    color: #00a2c6;
} */

footer {
    padding: 20px;
    color: white;
    background-color: #00a2c6;
}